.logo_image {
    width: 90%;
}

.logo_image2 {
    width: 80%;
}

.timer_font {
    font-size: 200%;
}
@media screen and (min-width: 1000px) {
    .logo_image {
        width: 50%;
    }
    
    .logo_image2 {
        width: 40%;
    }
    
    .timer_font {
        font-size: 1000%;
    }
}