html, body {
    margin: 0;
    padding: 0;
}

#site {
    overflow-y: hidden;
}

.content {
    width: 100%;
    padding: 0;
    margin: 0;
}

.navigate {
    height: 100%;
    width: 20%;
    z-index: 999;
    position: fixed;
    right: 0;   
}

.n_butt {
    height: 20%;
    width: 100%;
}

.n_gap {
    height: 60%;
    width: 100%;
}

.fixed_menu {
    width: 50%;
    padding-left: 5%;
    height: 20%;
    position: fixed;
    z-index: 1000;
}

.fm_gap {
    width: 100%;
    height: 30%;
}

#main_icon {
    display: none;
}

#main_icon:hover {
    cursor: pointer;
}

.fixed_header {
    width: 0%;
    height: 100%;
    position: fixed;
    z-index: 999;
}

.left_bar {
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    float: left;
}

.lf_gap1 {
    width: 100%;
    height: 20%;
}

.link {
    width: 100%;
    height: 10%;
    vertical-align: middle;
    padding-left: 10%;
    font-size: 175%;
    display: none;
}

.link:hover {
    cursor: pointer;
    background-color: white;
}

.right_bar {
    width: 80%;
    max-width: auto;
    height: 100%;
    float: left;
}

.header {
    width: 100%;
    height: 100vh;
}

.bg1_gap {
    height: 5%;
    width: 100%;
}

.login {
    margin-left: 5%;
    height: 50%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.6);
}

.l_gap {
    height: 5%;
    width: 100%;
}

.l_main_text {
    width: 100%;
    height: 20%;
    font-size: 200%;
    text-align: center;
}

.l_fields_right {
    width: 30%;
    padding-left: 15%;
    height: 20%;
    font-size: 150%;
    float: left;
}

.l_fields_left {
    width 30%;
    height: 20%;
    padding-left: 5%;
    padding-right: 15%;
    font-size: 150%;
    float: left;
}

.l_button {
    height: 15%;
    width: 25%;
    font-size: 125%;
}

.welcome {
    margin-top: 5%;
    margin-left: 10%;
    height: 30%;
    width: 60%;
    font-family: 'Cormorant Infant', serif;
    font-size: 500%;
    display: none;
    position: absolute;
}

.w1 {
    width: 100%;
    height: 50%;
    vertical-align: middle;
}

.w2 {
    width: 60%;
    height: 50%;
    margin-left: 40%;
    vertical-align: middle;
}

.count {
    width: 100%;
    height: 100vh;
}

.c_cover {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.c_gap {
    width: 100%;
    height: 5%;
}

.c_header {
    width: 100%;
    height: 20%;
    vertical-align: middle;
    font-size: 600%;
    font-family: 'Cormorant Infant', serif;
    padding-left: 30%;
    padding-right: 10%;
    
}

.timery {
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-right: 5%;
}

.clock {
    width: 100%;
    height: 100%;
}

.column {
    float: left;
    margin-left: 5%;
}

.timer {
    font-size: 1500%;
    text-align: center;
    color: black;
}

.c_footer {
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
    vertical-align: middle;
}

.text {
    font-size: 200%;
    text-align: center;
    color: black;
}

.map {
    width: 100%;
    height: 100vh;
}

.carousely {
    width: 100%;
    height: 100vh;
}

.gal {
    width: 100%;
    height: 100%;
}

.g_gap {
    width: 100%;
    height: 5%;
}

.karts {
    width 100%;
    height: 90%;
    overflow-x: hidden;
    display: flex;
}
.kartochka {
    margin-left: 5%;
    height: 100%;
    float: left;
    display: inline-block;
    -webkit-box-shadow: 4px 3px 70px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 3px 70px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 3px 70px 0px rgba(0,0,0,0.75);
}

.strelki {
    position: absolute;
    height: 100%;
    width: 100%;
}

.vlevo {
    left: 0;
    height: 100%;
    width: 10%;
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    float: left;
}

.vpravo {
    right: 0;
    height: 100%;
    width: 10%;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 1%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    float: right;
}

.vlevo:hover {
    cursor: pointer;
}

.vpravo:hover {
    cursor: pointer;
}

.car1 {
    height: 10%;
    width: 100%;
}

.invite {
    width: 100%;
    height: 100vh;
}

.inv {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.i1 {
    width: 100%;
    height: 15%;
}

.i2 {
    width: 60%;
    height: 70%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Cormorant Infant', serif;
    border-radius: 10px 10px 10px 10px;
}

.ido {
    width: 30%;
    height: 10%;
    border-radius: 50px 50px 50px 50px;
    font-size: 150%;
    background-color: pink;
    color: white;
    transition: 1s;
    vertical-align: middle;
}

.ido:hover {
    cursor: pointer;
}

.gallery {
    width: 100%;
    height: 15.3%;
}

.footer {
    width: 100%;
    height: auto;
}

.forphone {
    display: none;
}

@media only screen and (max-width: 1000px) {  
    
    #logo1 {
        height: auto;
        width: 80%;
    }
    
    .content {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .fixed_menu {
        width: 50%;
        padding-left: 5%;
        height: 10%;
        position: fixed;
        z-index: 1000;
    }

    .fm_gap {
        width: 100%;
        height: 40%;
    }

    #main_icon {
        display: none;
    }

    #main_icon:hover {
        cursor: pointer;
    }

    .fixed_header {
        width: 0%;
        height: 100%;
        position: fixed;
        z-index: 999;
    }

    .left_bar {
        width: 70%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
        float: left;
    }

    .lf_gap1 {
        width: 100%;
        height: 20%;
    }

    .link {
        width: 100%;
        height: 10%;
        vertical-align: middle;
        padding-left: 10%;
        font-size: 400%;
        display: none;
        z-index: 9999;
    }

    .link:hover {
        cursor: pointer;
        background-color: white;
    }

    .right_bar {
        width: 50%;
        max-width: auto;
        height: 100%;
        float: left;
    }

    .header {
        width: 100%;
    }

    .bg1_gap {
        height: 5%;
        width: 100%;
    }

    .login {
        margin-left: 0;
        height: 50%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .l_gap {
        height: 5%;
        width: 100%;
    }

    .l_main_text {
        width: 100%;
        height: 20%;
        font-size: 500%;
        text-align: center;
    }

    .l_fields_right {
        width: 30%;
        padding-left: 15%;
        height: 20%;
        font-size: 300%;
        float: left;
    }

    .l_fields_left {
        width 30%;
        height: 20%;
        padding-left: 5%;
        padding-right: 15%;
        font-size: 250%;
        float: left;
    }

    .l_button {
        height: 15%;
        width: 50%;
        font-size: 300%;
    }

    .welcome {
        margin-top: 2%;
        margin-left: 10%;
        height: 30%;
        width: 80%;
        font-family: 'Cormorant Infant', serif;
        font-size: 700%;
        display: none;

    }

    .w1 {
        width: 100%;
        height: 50%;
        vertical-align: middle;
    }

    .w2 {
        width: 60%;
        height: 50%;
        margin-left: 40%;
        vertical-align: middle;
    }

    .count {
        width: 100%;
        display: none;
    }

    .c_cover {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .c_gap {
        width: 100%;
        height: 5%;
    }

    .c_header {
        width: 100%;
        height: 20%;
        vertical-align: middle;
        font-size: 800%;
        font-family: 'Cormorant Infant', serif;
        padding-left: 30%;
        padding-right: 10%;
    }

    .timery {
        width: 90%;
        height: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .clock {
        width: 100%;
        height: 100%;
    }

    .column {
        float: left;
        margin-left: 5%;
    }

    .timer {
        font-size: 1000%;
        text-align: center;
        color: black;
    }
    
    .text {
        font-size: 200%;
        text-align: center;
        color: black;
    }

    .c_footer {
        height: 20%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 400%;
        vertical-align: middle;
    }

    .forphone {
        display: block
    }

    .map {
        display: none;
        width: 100%;
        height: 25%;
    }

    .carousely {
        width: 100%;
        display: none;
    }

    .gal {
        width: 100%;
        height: 100%;
    }

    .g_gap {
        width: 100%;
        height: 5%;
    }

    .karts {
        width 100%;
        height: 90%;
        overflow-x: scroll;
        display: flex;
    }
    
    .kartochka {
        margin-left: 5%;
        height: 100%;
        float: left;
        display: inline-block;
        -webkit-box-shadow: 4px 3px 70px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 4px 3px 70px 0px rgba(0,0,0,0.75);
        box-shadow: 4px 3px 70px 0px rgba(0,0,0,0.75);
    }

    .strelki {
        position: absolute;
        height: 100%;
        width: 100%;
        display: none;
    }

    .vlevo {
        left: 0;
        height: 100%;
        width: 10%;
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 2%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 2%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        float: left;
    }

    .vpravo {
        right: 0;
        height: 100%;
        width: 10%;
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 1%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        float: right;
    }

    .vlevo:hover {
        cursor: pointer;
    }

    .vpravo:hover {
        cursor: pointer;
    }

    .invite {
        width: 100%;
        display: none;
    }

    .inv {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .i1 {
        width: 100%;
        height: 30%;
    }

    .i2 {
        width: 90%;
        height: 30%;
        margin-left: 5%;
        margin-right: 5%;
        background-color: white;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 3%;
        padding-bottom: 3%;
        font-family: 'Cormorant Infant', serif;
    }

    .ido {
        width: 40%;
        height: 15%;
        border-radius: 50px 50px 50px 50px;
        font-size: 350%;
        background-color: pink;
        color: white;
        transition: 1s;
        vertical-align: middle;
    }

    .ido:hover {
        cursor: pointer;
    }
    
    #dear {
        font-size: 500%;
    }
    
    #d_text {
        font-size: 350%;
    }    

.gallery {
    width: 100%;
    height: 15.3%;
}

.footer {
    width: 100%;
    height: auto;
}
}
