html, body {
    margin: 0;
    padding: 0;
}

#site {
    
}

.content {
    width: 100%;
    height: 400%;
    padding: 0;
    margin: 0;
}

.navigate {
    height: 100%;
    width: 20%;
    z-index: 999;
    position: fixed;
    right: 0;   
}

.n_butt {
    height: 20%;
    width: 100%;
}

.n_gap {
    height: 60%;
    width: 100%;
}

.fixed_menu {
    width: 50%;
    padding-left: 5%;
    height: 20%;
    position: fixed;
    z-index: 1000;
}

.fm_gap {
    width: 100%;
    height: 30%;
}

#main_icon {
    display: none;
}

#main_icon:hover {
    cursor: pointer;
}

.fixed_header {
    width: 0%;
    height: 100%;
    position: fixed;
    z-index: 999;
}

.left_bar {
    width: 20%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    float: left;
}

.lf_gap1 {
    width: 100%;
    height: 20%;
}

.link {
    width: 100%;
    height: 10%;
    vertical-align: middle;
    padding-left: 10%;
    font-size: 175%;
    display: none;
}

.link:hover {
    cursor: pointer;
    background-color: white;
}

.right_bar {
    width: 80%;
    max-width: auto;
    height: 100%;
    float: left;
}

.header {
    width: 100%;
    height: 25%;
}

.bg1_gap {
    height: 5%;
    width: 100%;
}

.login {
    margin-left: 5%;
    height: 50%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.6);
}

.l_gap {
    height: 5%;
    width: 100%;
}

.l_main_text {
    width: 100%;
    height: 20%;
    font-size: 200%;
    text-align: center;
}

.l_fields_right {
    width: 30%;
    padding-left: 15%;
    height: 20%;
    font-size: 150%;
    float: left;
}

.l_fields_left {
    width 30%;
    height: 20%;
    padding-left: 5%;
    padding-right: 15%;
    font-size: 150%;
    float: left;
}

.l_button {
    height: 15%;
    width: 25%;
    font-size: 125%;
}

.welcome {
    margin-top: 5%;
    margin-left: 10%;
    height: 30%;
    width: 60%;
    font-family: 'Cormorant Infant', serif;
    font-size: 400%;
    display: none;
}

.w1 {
    width: 100%;
    height: 50%;
    vertical-align: middle;
}

.w2 {
    width: 60%;
    height: 50%;
    margin-left: 40%;
    vertical-align: middle;
}

.count {
    width: 100%;
    height: 25%;
}

.c_cover {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.c_gap {
    width: 100%;
    height: 5%;
}

.c_header {
    width: 100%;
    height: 20%;
    vertical-align: middle;
    font-size: 600%;
    font-family: 'Cormorant Infant', serif;
    padding-left: 30%;
    padding-right: 10%;
    
}

.timery {
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-right: 5%;
}

.clock {
    width: 100%;
    height: 100%;
}

.column {
    float: left;
    margin-left: 5%;
}

.timer {
    font-size: 1500%;
    text-align: center;
    color: black;
}

.c_footer {
    height: 20%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 200%;
    vertical-align: middle;
}

.text {
    font-size: 200%;
    text-align: center;
    color: black;
}

.map {
    width: 100%;
    height: 25%;
}

.carousely {
    width: 100%;
    height: 25%;
}

#myCarousel {
    margin-left: 5%;
    width: 60%;
    height: 80%;
}

.car1 {
    height: 10%;
    width: 100%;
}

.invite {
    width: 100%;
    height: 25%;
}

.inv {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
}

.i1 {
    width: 100%;
    height: 15%;
}

.i2 {
    width: 60%;
    height: 70%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Cormorant Infant', serif;
}

.ido {
    width: 30%;
    height: 10%;
    border-radius: 50px 50px 50px 50px;
    font-size: 150%;
    background-color: pink;
    color: white;
    transition: 1s;
    vertical-align: middle;
}

.ido:hover {
    cursor: pointer;
}

.gallery {
    width: 100%;
    height: 15.3%;
}

.footer {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 1000px) {  
    
    #logo1 {
        height: auto;
        width: 100%;
    }

    .login {
        margin-left: 0;
        height: 50%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.6);
    }
    
    .bg1_gap {
        height: 20%;
        width: 100%;
    }
}
